@import "../../assets/style/vars.scss";

.clientModal, .prodModal, .prodModalEdit, .staffModal, .messageModal {
    .modal-content {
        background-color: $cust-color2;
    }
    .myModal-title {
        font-size: 20px;
    }
}
.clientModal, .prodModalEdit, .messageModal {
    .searchField {
        width: 180px;
        input {
            width: 130px;
        }
        span {
            width: 30px; 
            height: 30px; 
            border-radius: 3px;
            background-color: $cust-gray7;
            cursor: pointer;
            i {
                font-size: 14px;
                font-weight: bold;
                color: $cust-gray1;
            }
        }
    }
}
.modal-form {
    height: 270px;
    label {
        width: 100px;
    }
    input {
        width: 180px;
        font-size: 14px;
    }
    .input-field {
        margin: 1rem auto;
        position: relative;
    }
    .message-field {
        width: 280px;
        height: 150px;
        margin: 0.5rem auto;
        label {
            width: 280px;
        }
        textarea {
            resize: none;
            width: 280px;
            height: 120px;
            margin-top: 1.2rem;
        }
    }
    .confirm-product {
        position: absolute;
        left: 100px;
        bottom: -25px;
        color: $cust-green4;
        span {
            font-size: 12.5px;
        }
    }
    .operation-response {
        width: 180px;
        .success {
            color: $cust-green4;
        }
        .failure {
            color: $cust-color1;
        }
        span {
            font-size: 12.5px;
            white-space: nowrap;
            margin-right: 10px;
        }
    }
}
.clientModal .modal-form, .staffModal .modal-form {
    height: 370px;
    form {
        height: 250px;
    }
}
.prodModalEdit .modal-form {
    height: 370px;
    form {
        height: 280px;
    }
}
.prodModal .modal-form {
    height: 280px;
    form {
        height: 180px;
    }
}
.messageModal .modal-form {
    height: 320px;
}