@import "../../assets/style/vars.scss";

.mobile_settings {
    background-color: $cust-gray1;
    padding-top: 4rem;
    overflow-y: auto;
    .div-current-profile {
        background-color: $green-900;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-left: 3rem;
        img {
            height: 100px;
            width: 100px;
            border-radius: 50%; 
        }
    }
    hr {
        width: 2px;
        color: $cust-color2;
        border: 3px solid $cust-color2;
    }
    .article-staff-details {
        background-color: $cust-color2;
        margin-top: 1rem;
        height: 34rem;
        position: relative;
    }
    .staff-details {
        padding-top: 2rem;
        padding-left: 2rem;
        height: 20rem;
        form {
            height: 17rem;
            span {
                width: 300px;
            }
        }
        label {
            width: 70px;
        }
        .txt-input {
            width: 180px;
            height: 35px;
            border-radius: 5px;
            text-align: center;
        }
    }
    .div-profile-upload {
        height: 13rem;
        padding-left: 2rem;
        form {
            height: 12rem;
        }
        .upload-wrapper {
            background-color: $cust-gray1;
            height: 7rem;
            #img-upload {
                width: 200px;
                font-size: 14px;
                color: $green-300;
            }
        }
    }
    .submit-btn {
        color: $orange-100;
    }
}