@import "../../assets/style/vars.scss";

a {
    text-decoration: none;
    color: $cust-dark1;
}

.header {
    height: 4rem;
    padding-bottom: 1rem;
    color: $cust-gray7;
    position: fixed;
    top: 0;
    z-index: 500;
    .side_drop {
        margin-left: 2rem;
        gap: 2rem;
        h2 {
            color: $cust-gray7;
            font-size: 23px;
        }
    }
    nav {
        margin-left: calc(5%);
        padding: 0.5rem 2rem;
        box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(0,0,0,0.2);
        background-color: $cust-color2;
        h2 {
            font-size: 23px;
        }
    }
    .prof_links {
        gap: 10px;
        i {
            color: $cust-dark1;
            font-size: 20px;
        }
    }
    .user_profile {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    #side_menu {
        position: fixed;
        top: 5rem;
        left: 2rem;
        bottom: 5rem;
        width: 15rem;
        background-color: $cust-gray1;
        padding: 1rem 1.5rem;
        .menu_item {
            margin: 1rem 0;
            a {
                text-decoration: none;
            }
        }
        .mini_menu {
            padding-left: 20px;
        }
        .contact_sect, .activities_log {
            height: 12rem;
            margin-left: 1rem;
            background-color: $cust-color2;
        }
        .btsp-icons, .ggl-icons {
            font-size: 20px;
            color: $cust-dark1;
        }
        #client_ops, #project_ops {
            a {
                font-size: 14px;
                color: $cust-dark1;
            }
        }
    }
}

@media (max-width: 575.9px) {
    .top_nav_sm {
        height: 3rem;
        padding: 0.5rem 1rem;
        margin-bottom: 2rem;
        background-color: $cust-color2;
        h2 {
            font-size: 20px;
            color: $cust-gray7;
        }
        .menu_btn {
            height: 40px;
        }
        .ggl_icon {
            font-size: 30px;
        }
        #menu_drop {
            position: fixed;
            top: 3rem;
            right: 2rem;
            left: 2rem;
            height: 8rem;
            padding: 1rem 1rem;
            gap: 1rem;
            background-color: $gray-400;
            box-shadow: 2px 2px 10px 2px $cust-gray1;
            border-radius: 5px;
            a {
                text-decoration: none;
                position: relative;
            }
            ul {
                list-style-type: none;
                gap: 5px;
                padding-left: 1rem;
                margin: 0;
                a::before {
                    content: "";
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: $cust-dark1;
                    position: absolute;
                    top: 50%;
                    left: -8px;
                }
            }
            .links_side, .profile_side {
                height: 6rem;
            }
            .profile_link {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                background-color: $cust-color2;
                img {
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                }
            }
        }
    }
}