@import "../../assets/style/vars.scss";

.staff_legend {
    margin-left: 22rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    .info_container {
        height: 25rem;
        margin: 0;
        background-color: $cust-gray1;
        position: relative;
        .dark_cover {
            background-color: $green-900;
            height: 10rem;
        }
        .profile_pic {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            background-color: $gray-700;
            position: absolute;
            top: calc(10rem - 90px);
            left: 4rem;
        }
    }
    .prof-body {
        height: 16rem;
        .info-container {
            margin-top: 5.3rem;
            :nth-child(2) {
                article {
                    margin: 5px 0px;
                    i {
                        font-size: 28px;
                    }
                }
            }
            a {
                text-decoration: none;
            }
            .quick-contact {
                margin-top: 0.8rem;
                padding-left: 0.6rem;
                padding-right: 0.6rem;
                .btn-cprimary {
                    color: $orange-100;
                }
            }
            a.btn {
                font-size: 13px;
            }
        }
    }
    .stats_highlights {
        gap: 20px;
        .stat_cont {
            padding: 0.5rem;
            background-color: $cust-gray1;
            height: 350px;
            width: calc(50% - 10px);
            border-radius: 5px;
        }
    }
}

@media (max-width: 991.9px) {
    .staff_legend {
        margin-left: 0;
        padding-left: 0;
        .stats_highlights {
            margin: 0 auto;
            .stat_cont {
                width: 350px;
                margin: 0 auto;
            }
        }
    }
}