@import "../../assets/style/vars.scss";

footer {
    background-color: $cust-color2;
    margin-top: 1rem;
    padding-top: 2rem;
    .footer_container {
        margin: 0;
        margin-bottom: 5px;
    }
    p {
        margin: 0;
        margin-bottom: 0;
        color: $cust-dark1;
        font-size: 12px;
    }
}