@import "../../assets/style/vars.scss";

.legend_section{
    padding: 2rem 0;
    padding-top: 0;
    margin-left: 22rem;
    margin-top: 1rem;
    .legend_stats {
        padding: 1rem 0;
        padding-top: 0;
    }
    .div_stat {
        height: 200px;
        background-color: $cust-gray1;
        .num_stat {
            position: relative;
            padding-top: 2rem;
            gap: 1.7rem;
            .stat_tag {
                font-size: 14px;
                position: absolute;
                top: 1rem;
                left: 1.2rem;
                h3 {
                    font-size: 16px;
                    margin: 0;
                }
            }
        }
        ul.category {
            list-style-type: none;
            font-size: 12px;
            margin: 0;
            gap: 2rem;
        }
        article {
            h4 {
                color: $cust-dark1;
                font-size: 50px;
                margin: 0;
            }
            p {
                font-size: 16px;
            }
        }
    }
    .stats_highlight {
        height: 170px;
        width: 360px;
        background-color: $cust-gray1;
        border-radius: 6px;
        article {
            h4 {
                color: $cust-dark1;
                font-size: 50px;
                margin: 0;
            }
            p {
                font-size: 16px;
            }
        }
    }
    .slider {
        height: 240px;
        width: 380px;
        background-color: $cust-gray1;
        position: relative;
    }
    .slider_text {
        padding-left: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-radius: 4px;
        background-color: rgba(0,0,0,0.2);
        position: absolute;
        z-index: 200;
        top: 0.5rem;
        left: 0.8rem;
        font-size: 14.6px;
        color: $cust-gray1;
    }
    .carousel-item img {
        width: 380px;
        height: 240px;
    }
    .notifications_stats {
        margin-top: 4rem;
        height: 320px;
        padding: 10px 1rem;
        background-color: $cust-gray1;
        .title_div {
            p, h4 {
                color: $cust-dark1;
                margin: 0;
            }
            span, i {
                font-size: 12px;
            }
            .badge {
                background-color: rgb(2, 102, 23);
                color: white;
                font-size: 12px;
                border-radius: 2px;
                margin-top: 2px;
            }
        }
    }
}
.prop_cat2 {
    position: relative;
    height: 150px;
    padding: 0;
}

@media (max-width: 991.9px) {
    .legend_section {
        padding-left: 0;
        margin-top: 3rem;
        margin-left: 0;
        .legend_stats {
            margin: 0 auto;
        }
        .div_stat {
            height: 230px;
            .stat {
                height: 250px;
            }
        }
        .highlight_slider {
            flex-direction: row;
            gap: 10px;
            margin: 0 auto;
        }
        .slider_container {
            justify-content: center;
        }
        .slider {
            width: 350px;
        }
        .notifications_stats {
            margin: 4rem auto;
        }
    }
}

@media (max-width: 575.9px) {
    .legend_section {
        padding-left: 0;
        margin-top: 3rem;
        margin-left: 0;
        .legend_stats {
            margin: 0 auto;
        }
        .div_stat {
            height: 450px;
            gap: 50px;
            .stat {
                height: 200px;
            }
        }
        .stats {
            margin: 0 auto;
        }
        .highlight_slider {
            flex-wrap: wrap;
            gap: 50px;
            margin: 0 auto;
        }
        .slider_container {
            gap: 25px;
        }
        .stats_highlight {
            width: 300px;
            margin: 0 auto;
        }
        .slider {
            width: 100%;
            max-width: 360px;
            margin: 0 auto;
        }
        .carousel-item img {
            width: 100%;
        }
    }
    .prop_cat2 {
        height: 200px;
    }
}

