@import "../../assets/style/vars.scss";

.legend_section{
    padding: 2rem 0;
    padding-left: 22rem;
    margin-top: 5rem;
    div.stats {
        gap: 25px;
        margin-bottom: 25px;
    }
    .stats_highlight {
        height: 150px;
        width: 360px;
        background-color: $cust-gray1;
        border-radius: 6px;
    }
    .highlight_slider {
        gap: 25px;
    }
    .slider {
        height: 220px;
        width: 360px;
        background-color: $cust-gray1;
        position: relative;
    }
    .slider_text {
        padding-left: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-radius: 4px;
        background-color: rgba(0,0,0,0.2);
        position: absolute;
        z-index: 200;
        top: 0.5rem;
        left: 0.8rem;
        font-size: 14.6px;
        color: $cust-gray1;
    }
    .carousel-item img {
        width: 360px;
        height: 220px;
    }
}